<h1>Conatct us</h1>
<!-- Contact form -->
<form class="contact-form" id="contactForm">
  <h2>Contact</h2>
  <input type="text" placeholder="Name" name="name" /><br />
  <input type="Email" placeholder="Email" /><br />
  <textarea placeholder="Your message"></textarea><br />
  <input type="submit" value="Send" />
</form>
<p class="back-to-home">Back to <a href="/">Home Page</a></p>