<h1>Home Page</h1>
<ul class="sections">
  <li><a href="/about">About</a></li>
  <li><a href="/members">Members</a></li>
  <li><a href="/contact">Contact</a></li>
  <li><a href="/faqs">FAQs</a></li>
</ul>