<h1>Members Page</h1>
<div class="container">
  <h2 class="members-heading" id="admins-heading">Admins:</h2>
  <ul class="admins-list">
    <li>Alhareth, </li>
    <li>Ahmed, </li>
    <li>Saleh</li>
  </ul><br />
  <h2 class="members-heading" id="members-heading">Other members:</h2>
  <ul class="members-list">
    <li>Khalid, </li>
    <li>Osama, </li>
    <li>Mohammed</li>
  </ul>
</div>
<p class="back-to-home">Back to <a href="/">Home Page</a></p class="back-to-home">